name: govulncheck

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: govulncheck
    runs-on: ubuntu-latest
    env:
      GOPROXY: "https://proxy.golang.org,direct"

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
        id: go

      - name: install govulncheck
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: make vuln
        env:
          GOFLAGS: -mod=vendor
        run: |
          make vuln
